# HTTP
HTTP_PORT=80
TZ=Africa/Abidjan
APP_VERSION=latest

# MySQL
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=dbgestimoweb
MYSQL_USER=gestimo
MYSQL_PASSWORD=change_me

# Backend
SPRING_PROFILES_ACTIVE=prod
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
JWT_SECRET=change_me_in_prod_use_long_random_string
APP_CORS_ALLOWED_ORIGIN_PATTERNS=https://gestimoweb.com,https://www.gestimoweb.com
APP_DEFAULT_USER_EMAIL=bossohpaulin@gmail.com
APP_PASSWORD_RESET_URL=https://gestimoweb.com/reset-password
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,prometheus

# (Legacy / anciens noms)
DEFAULT_USER_EMAIL=bossohpaulin@gmail.com
PASSWORD_RESET_URL=http://51.75.142.41/reset-password

# Mail SMTP (obligatoire pour l'envoi OTP)
MAIL_HOST=smtp-fr.securemail.pro
MAIL_PORT=587
MAIL_USERNAME=info@molibetycenter.com
MAIL_PASSWORD=change_me

# Monitoring (Grafana)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
