# HTTP
HTTP_PORT=80
TZ=Africa/Abidjan
APP_VERSION=latest

# MySQL
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=dbgestimoweb
MYSQL_USER=gestimo
MYSQL_PASSWORD=change_me

# Backend
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=change_me_in_prod_use_long_random_string
DEFAULT_USER_EMAIL=bossohpaulin@gmail.com
PASSWORD_RESET_URL=http://51.75.142.41/reset-password

# Mail SMTP (obligatoire pour l'envoi OTP)
MAIL_HOST=smtp-fr.securemail.pro
MAIL_PORT=587
MAIL_USERNAME=info@molibetycenter.com
MAIL_PASSWORD=change_me
